{% for profile in object_list %}
<div id="{{ profile.pk }}" hx-get="{{ profile.get_absolute_url }}" hx-target="this" hx-trigger="load once" hx-swap="outerHTML"></div>
{% empty %}
<p>You don't have any address profiles yet.</p>
{% endfor %}
<button
    class="flex gap-2 items-center"
    id="create-address-profile-button"
    type="button"
    hx-get="{% url 'terminusgps_payments:create address profiles' customerprofile.pk %}"
    hx-target="#address-profiles"
    hx-trigger="click"
>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    <p>Create Address Profile</p>
</button>
