{% load static %}
{% if paymentprofile.credit_card != None %}
{% with paymentprofile.credit_card as credit_card %}
<section id="credit_card" class="flex items-center gap-2">
    <img id="icon" src="{% static paymentprofile.get_icon_url %}" height="48" width="48">
    <div id="last-4" class="text-lg tracking-wider">{{ paymentprofile.credit_card.cardNumber|cut:'XXXX' }}</div>
</section>
{% endwith %}
{% endif %}
{% if paymentprofile.address != None %}
{% with paymentprofile.address as address %}
<section id="address">
    <div id="full-name" class="text-gray-800">{{ address.firstName }} {{ address.lastName }}</div>
    <div id="street" class="text-gray-800">{{ address.address }}</div>
    <div id="city-state-country-zip" class="text-gray-700">{{ address.city }}, {{ address.state }}, {{ address.country }} {{ address.zip }}</div>
</section>
{% endwith %}
{% endif %}
<form hx-get="{% url 'terminusgps_payments:delete payment profile' paymentprofile.pk %}" hx-swap="outerHTML" hx-target="this" hx-trigger="load">
    <button class="w-full cursor-progress rounded border border-current bg-gray-50 p-2 text-red-600 transition-colors duration-300 ease-in-out hover:bg-red-50" disabled>Delete</button>
</form>
