{% for profile in object_list %}
<div id="{{ profile.pk }}" class="p-4 border">
    <h3>{{ profile.address.firstName }} {{ profile.address.lastName }}</h3>
    <p>{{ profile.address.address }}</p>
</div>
{% empty %}
<p>You don't have any payment profiles yet.</p>
{% endfor %}
<button
    id="create-button"
    hx-get="{% url 'terminusgps_payments:create credit card payment profiles' customerprofile.pk %}"
    hx-target="#payment-profiles"
    hx-trigger="click"
>
    <p>Create Payment Profile</p>
</button>
