{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% if title %}{{ title }} | {% endif %}Terminus GPS Payments</title>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="icon" href="{% static 'terminusgps_payments/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'terminusgps_payments/css/output.css' %}">
        <script src="{% static 'terminusgps_payments/js/htmx.min.js' %}" defer></script>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
