<section id="subscription-{{ subscription.pk }}" class="flex flex-col gap-4 rounded border p-4">
    <section id="info" class="flex flex-col gap-2 text-lg">
        <p id="name" class="font-semibold">{{ subscription.name }}</p>
        <p id="amount">${{ subscription.amount|floatformat:2 }}/mo</p>
        <p id="status">{{ subscription.status|title }}</p>
    </section>
    <section id="payment-profile" class="flex flex-col gap-4">
        <h3 class="font-semibold">Payment Profile</h3>
        <section id="credit_card" class="rounded border bg-gray-200 p-2" hx-get="{{ subscription.payment_profile.get_absolute_url }}" hx-target="this" hx-select="#credit_card" hx-trigger="load" hx-indicator="#subscriptions-indicator"></section>
    </section>
    <section id="address-profile" class="flex flex-col gap-4">
        <h3 class="font-semibold">Address Profile</h3>
        <section id="address" class="rounded border bg-gray-200 p-2" hx-get="{{ subscription.address_profile.get_absolute_url }}" hx-target="this" hx-select="#address" hx-trigger="load" hx-indicator="#subscriptions-indicator"></section>
    </section>
    <section id="buttons" class="flex flex-col gap-2">
        <button class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" hx-get="{{ subscription.get_update_url }}" hx-target="#subscription-{{ subscription.pk }}" hx-swap="outerHTML">Update</button>
        <button class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-current bg-red-200 p-2 text-center text-red-700 transition-colors duration-300 ease-in-out hover:bg-red-50" hx-get="{{ subscription.get_delete_url }}" hx-target="#subscription-{{ subscription.pk }}" hx-swap="outerHTML">Cancel</button>
    </section>
</section>
