<form id="subscription" class="flex flex-col gap-4 rounded border-2 border-current bg-gray-300 p-4" hx-target="this" hx-swap="outerHTML" hx-post="{% url 'payments:update subscription' subscription.pk %}">
    {{ form.errors }}
    {% csrf_token %}
    <section class="flex items-center justify-between gap-2">
        <h2 class="text-sm font-semibold md:text-lg">{{ subscription.name }}</h2>
        <p class="font-semibold">${{ subscription.amount }}</p>
    </section>
    <section class="border rounded p-2 bg-gray-200 flex flex-col gap-2">
        {{ form.name.as_field_group }}
        {{ form.payment_profile.as_field_group }}
        {{ form.address_profile.as_field_group }}
    </section>
    <section class="flex flex-col items-center gap-2 text-center text-pretty">
        <button type="submit" class="w-full cursor-pointer rounded border bg-blue-500 p-2 text-gray-100 transition-colors duration-300 ease-in-out hover:bg-blue-200 hover:text-gray-600">Save</button>
        <button class="w-full cursor-pointer rounded border bg-gray-500 p-2 text-gray-100 transition-colors duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-600" hx-get="{% url 'payments:detail subscription' subscription.pk %}">Back</button>
    </section>
</form>
